/* Changing background color of entire page */
body {
    background-color: #d6d7d9;
    font-family: 'Roboto', sans-serif;
}

/* CSS for Header portion */
.header-wrapper {
	display: grid;
	width: 90%;
	grid-template-columns: 1fr 1fr;
    align-items:center;
    margin:0 auto;
}
/* CSS for logo in header */
.header-logo img{
	justify-self: start;
	width:75px;
}

/* CSS for Navigation Bar */
.nav-bar {
	justify-self: end;

}

/* Styling my nav bar added a transition so that the background changes color when you hover over it */
nav a {
    /* width: 60px; */
    width:50%;
    text-align: center;
    font-size: 150%;
    /* background-color: rgba(0, 253, 234, 1); */
    color: rgba(13, 94, 253, 1);
    text-decoration: none;
    padding: 10px;
    /* margin: 5px; */
    /* display: inline-block; */
    transition-property: color;
    transition-duration: .001s;
    transition-timing-function: linear;
    transition-delay: 0.1s;
    font-weight: bold;

}
/* When I hover over any of my nav bar links, change the background color to orange with a 0.3 opacity */
nav a:hover {
    /* color: rgba(255,167, 0, 1); */
    color: rgba(255, 167, 0, 1);
    text-decoration: none;
}

.active {
    /* background-color:rgba(255, 167, 0, 1); */
    color: rgba(255, 167, 0, 1);

}

.headshot {
    width:100%;
    margin:5px;
    border-radius: 25px 50px;
    border: 1px transparent;

}

.flex-container-intro {
    display: flex;
    background-color: rgba(255, 255, 255, 1);
    background-image: url("../images/UX_icons.jpg");
    background-size: cover;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.flex-intro-item {
    align-self: center;
    flex-grow: inherit;
    background-color: rgba(255,255,255,0.6);
    border-radius:25px;
    width: 60%;
    height: 30%;
    padding:5%;
    overflow: hidden;

}

textarea{
    width:100%;
    height:100%;
    /* width:auto; */
}

.intro-text{
    color:#0D5EFD;
    text-align: center;
}
.intro h1 {
    font-size: 36px;
    padding:20px;
}

.intro h2 {
    font-size: 24px;
}

.spacer {
    width: 100%;
	height:7vh;
	border-top: outset;
}

.main-grid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px;
    width:90%;
    margin: 0 auto;
    grid-column-gap: 1em;
    justify-content: space-evenly;
}

.contact-img {
    width:300px;;
    border:2px solid black;
}
.contact-message {
    padding:10px;
    margin:0 auto;
    text-align: center;
    font-size: 1.2em;
    
}

.contact-title {
    text-align: center;
    width:75%;
    margin:0 auto;
    font-size: 2em;
    font-weight: bold;
}

.contact-icons{
    text-align: center;
    margin: 0 auto;
    padding-bottom:20px;
}
.contact-icons a {
    color:rgba(13, 94, 253, 1);
}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-width: -webkit-min-content;
    border-width: 2px;
    border-style: groove;
    border-color: rgba(0,0,0,1);
    border-image: initial;
}

.recent-work-grid {
    display:grid;
    width: 80%;
    grid-template-columns: 1fr ;
    grid-template-rows: 50% 50%;
    grid-column-gap: 1em;
    grid-row-gap: 1em; 
    margin: 0 auto;
}


.recent-proj-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap:1em;
    padding-top: 5%;
}

.recent-proj-img-container a {
    margin: 0 auto;
    text-align: center;
}


.recent-proj-img-container img {
    width:90%;
    border:2px solid rgba(0,0,0,1);
}

.recent-proj-descrip {
    display:grid;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 1em;
    align-items: center;
}

.recent-proj-descrip h4 {
    font-size: 24px;
    padding-bottom: 5%;
}

.recent-proj-descrip h5 {
    font-size: 18px;
}


.recent-proj-descrip p {
    align-self: start;
}
.recent-project-links {
    align-self: start;
    margin: 0 auto;
}

.social-media-link{
/* Selector or style the colors of the links - I want them to remain the same color, regardless if it was visited or not */
}

.recent-projects-title {
    padding-top:4%;
    text-align: center;
    font-size: 36px;
}

.entr390-article{
    width:90vw;
    margin:0 auto;
}
.article-header {
    display:grid;
    grid-template-rows: repeat(4, 50px);
    grid-row-gap: 1em;
    align-items: baseline;
    background-image: url("../images/UX_icons.jpg");
    background-position: bottom;
    align-items: center;

}

.article-header h1, h2 {
    text-align: center;
}

.article-intro {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    justify-items: stretch;
    grid-column-gap: 1em;
    background-color: rgba(0, 253, 234, 0.2);
}

.article-intro div {
    box-sizing: border-box;
    align-self: center;

}

.article-intro > div > h3 {
    text-align: center;
}
.article-intro > div > p {
    text-align: center;
}
.entr390-img1-container {
    display:grid;
    grid-template-columns: repeat(8,1fr);
    margin:0 auto;
    padding:10px;
}

.entr390-inspiration-img {
    grid-column: 2/8;
    padding:5px;
    border:1px solid rgba(0,0,0,1);
    width:100%;
    
}

.initial-wireframes {
    display:grid;
    grid-template-columns: repeat(3, auto);
    grid-column-gap:1em;
    justify-content: center;
    justify-items: center;
}

.initial-wireframes img{
    width:75%;
    align-self: auto;
}

.design1link {
    background-color: rgba(13, 94, 253, 1);
    color: rgba(255,167, 0, 1); 
    padding:10px;
    text-align: center;
    /* font-weight: bold; */
    text-decoration: none;

}

.company-link {
    text-decoration: none;
}

.section-title {
    font-size: 2em;
    margin: 5px;
}
.project1pic {
    width: 500px;
    height: 400px;
}

.flex-project-items h2 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    justify-self: flex-start;
}

/*************************************/
/* CSS for Blog page */
.vr_pic {
    /* width:300px; */
    object-fit: contain;
}
.coming_soon {
    width: 500px;
    height: 400px;
    text-align: center;
    font-size: 50px;
}

/* MEDIA QUERY FOR MOBILE */
@media only screen and (max-width: 600px) {

    /* CSS FOR HEADER */
    .flex-container-intro {
        display: flex;
        flex-direction:column;
        background-image: url("../images/UX_icons.jpg");
        background-size: cover;
        justify-content: space-evenly;
        align-content: space-evenly;
    }

    
    
    .flex-intro-item {
        align-self: center;
        flex-grow: inherit;
        background-color: rgba(255,255,255,0.6);
        border-radius:25px;
        width: 60%;
        height: 30%;
        padding:5%;
        order:2;
    }

    .flex-headshot-item {

        align-self: center;
        flex-grow: inherit;
        width: 60%;
        order:1;
    }
    .headshot {
        /* width:60%; */
        margin:0 auto;
        border-radius: 25px 50px;
        border: 1px transparent;
    }
    
    .intro-text{
        color:#0D5EFD;
        text-align: center;
    }
    .intro h1 {
        font-size: 36px;
        padding:20px;
    }
    
    .intro h2 {
        font-size: 24px;
    }


    /* CSS FOR RECENT PROJECTS */
    .recent-work-grid {
        display: grid;
        width: 85%;
        grid-template-rows: repeat(2, 50vh);
        grid-template-columns: 1fr;
        grid-row-gap: 7em;
        margin: 0 auto;
        padding: 5%
    }
    .recent-proj-container {
        display:grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: 1fr;
    }

    

    .recent-proj-img-container {
        display:grid;
        justify-content: center;
    }
    .recent-proj-img-container a {
        width:80%;
        margin: 0 auto;
        text-align: center;
    }

    .recent-proj-img-container img {
        width: 50%;
    }

    .recent-proj-descrip {
        display:grid;
        grid-template-rows: repeat(3, auto);
        grid-row-gap: 1em;
    }

    .recent-proj-title {
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-row-gap:1em;
        text-align: center;
    }
    .recent-proj-descrip p {
        text-align:center;
    }

    .recent-project-links{
        margin: 0 auto;
    }
    .spacer {
        height: 2vh;
    }

}

/* MEDIA QUERY FOR DESKTOP */
@media only screen and (min-width:900px){
    .recent-work-grid {
        display:grid;
        width: 80%;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1em;
        margin: 0 auto;
    }
    
    
    .recent-proj-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap:1em;
        padding-top: 5%
    }
    
    
    
    .recent-proj-img-container {
        text-align: center;
    }
    .recent-proj-img-container img {
        width:90%;
        border:2px solid rgba(0,0,0,1);
    }

    .entr-proj-img {
        width:auto;
        margin:0
    }
    
    .recent-proj-descrip {
        display:grid;
        grid-template-rows: repeat(3, 30%);
        align-items: center;
        grid-row-gap: 1em;
    }
    
    .recent-proj-descrip h4 {
        font-size: 24px;
        padding-bottom: 5%;
    }
    
    .recent-proj-descrip h5 {
        font-size: 18px;
    }
    .recent-proj-descrip p {
        align-self: start;
    }
    .recent-project-links {
        align-self: start;
    }
}

@media only screen and (max-width:900px){
    .main-grid img {
        display:none;
    }
}

/* CSS for ABOUT ME page */
/* mobile first */
/* .aboutme-grid {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 5%;
    width: 90%;
    margin:auto;
} */
/* .headshot-grid {
    margin-left:auto;
}

.headshot-grid img{
    display:block;
    width: 70%;
    margin-left:auto;
    margin-right: auto;
} */

/* .name {
    text-align:center;
    font-size:150%;
}

.bio {
    text-align:center;
}

.bio p{
    padding:2%;
} */

.mobile-grid {
    /* display: grid;
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 5%; */
    width: 90%;
    margin:auto;
}


.w3-container h1 {
    font-size:150%;
    padding:5%;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.about-me-headshot {
    width: 100%;
}

.w3-container h2 {
    font-size:100%;
    padding:2%;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}
.bio {
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-row-gap: 2%;
    margin: 0 auto -142px;
    width:90%;
}

footer {
    /* clear: both;
    border: 1px groove #aaaaaa;
    background: blue;
    color: White;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    margin: 0;
    position: absolute;
    bottom: 0px;
    width: 100%; */
    position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

main {
    height: 185vh;
}

.w3-container p {
    text-align:center;
    padding: 2%;
}
.w3-container {
    background: #fff;
}